<a href="https://colab.research.google.com/github/manikandanhereby/Credit_Risk_Modelling/blob/main/credit_risk_modelling_course_workout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget -O loan_data.csv https://www.dropbox.com/s/zyj7gwk8j7al88t/loan_data_2007_2014.csv?dl=0

--2023-04-27 10:45:15--  https://www.dropbox.com/s/zyj7gwk8j7al88t/loan_data_2007_2014.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/zyj7gwk8j7al88t/loan_data_2007_2014.csv [following]
--2023-04-27 10:45:16--  https://www.dropbox.com/s/raw/zyj7gwk8j7al88t/loan_data_2007_2014.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com/cd/0/inline/B6_6Antcx3W2gdbclac_Vi-iV8vGqiWebrFH3u3slmCiD8URErQ4DtsXTpDqUqhuBXVoG3OnvzRldL_SkfOV2X6nANbbYjK7eIsPWQMOhA_EYu2r11sEniDW4DLmalqfA5YSUEj8WROWEsbyJMy4HyAQ5yuWHVm4_tFT9TCTidY-UQ/file# [following]
--2023-04-27 10:45:16--  https://uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com/cd/0/inline/B6_6Antcx3W2gdbclac_Vi-iV8vGqiWebrFH3u3slmCiD8URErQ4DtsXTpDqUqhuBXVoG3OnvzRldL_SkfOV2X6nANbbYjK7eIsPWQMOhA_EYu2r11sEniDW4DLmalqfA5YSUEj8WROWEsbyJMy4HyAQ5yuWHVm4_tFT9TCTidY-UQ/file
Resolving uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com (uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6017:15::a27d:20f
Connecting to uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com (uc85bfbf02fa38dc63e93448b4d4.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 240079969 (229M) [text/plain]
Saving to: ‘loan_data.csv’

loan_data.csv       100%[===================>] 228.96M  55.0MB/s    in 4.5s

2023-04-27 10:45:21 (50.9 MB/s) - ‘loan_data.csv’ saved [240079969/240079969]

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
loan_data = pd.read_csv('/content/loan_data.csv')

<ipython-input-4-e3a2826e2130>:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv('/content/loan_data.csv')

In [5]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [7]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

Preprocessing Data

In [8]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [9]:
#using str.replace

loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

<ipython-input-9-b2a8b3758ce2>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')

In [10]:
loan_data['emp_length_int'].unique()

array(['10', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [11]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 years', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', str(0))

In [12]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('<', '')

In [13]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' ', '')

In [14]:
loan_data['emp_length_int'].unique()

array(['10', '30', '80', '90', '40', '50', '60', '20', '70', nan],
      dtype=object)

In [15]:
type(loan_data['emp_length_int'][0])

str

In [16]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [17]:
type(loan_data['emp_length_int'])

pandas.core.series.Series

In [18]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [19]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')

In [20]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [22]:
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date'])/ np.timedelta64(1,'M')))

In [23]:
loan_data['mths_since_earliest_cr_line']

0         395.0
1         224.0
2         193.0
3         262.0
4         263.0
          ...
466280    176.0
466281    246.0
466282    192.0
466283    178.0
466284    214.0
Name: mths_since_earliest_cr_line, Length: 466285, dtype: float64

In [24]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [25]:
#Negative time distance not possible

loan_data.loc[:,['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line']<0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -537.0
1770             Sep-68            2068-09-01                       -609.0
2799             Sep-64            2064-09-01                       -561.0
3282             Sep-67            2067-09-01                       -597.0
3359             Feb-65            2065-02-01                       -566.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -601.0
464260           Jul-66            2066-07-01                       -583.0
465100           Oct-67            2067-10-01                       -598.0
465500           Sep-67            2067-09-01                       -597.0
465655           Jan-56            2056-01-01                       -457.0

[1169 rows x 3 columns]

In [26]:
loan_data.shape

(466285, 78)

In [27]:
loan_data['mths_since_earliest_cr_line'].max()

587.0

In [28]:
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line']<0] = loan_data['mths_since_earliest_cr_line'].max()

<ipython-input-28-b39582b064cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line']<0] = loan_data['mths_since_earliest_cr_line'].max()

In [29]:
min(loan_data['mths_since_earliest_cr_line'])

73.0

## Homework

In this homework, your task is to preprocess the ‘term’ variable and the ‘issue_d’ variable, similarly to the ‘employment length’ variable and the ‘earliest credit line variable’ we preprocessed in the last lecture.

1. From the variable ‘term’, which is of object (text string) data type, create a new variable, named ‘term_int’, which is numeric and contains the term of the loan in months.

Tips: First remove the unnecessary text from each row; then, turn what remains into a numeric variable.

2. From the variable ‘issue date’ (‘issue_d’), which is of object (text string) data type, create a new variable, named ‘mths_since_issue_d’ (‘months since issue date’).

Tips: First turn the test strings into dates; then calculate the difference between December 1st 2017 and each of the issue dates, in months; finally, check if the values make sense.

In [30]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line'],
      dtype='object')

In [31]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [32]:
loan_data['term_int'] = loan_data['term'].str.replace(' months','')
loan_data['term_int'] = loan_data['term_int'].str.replace(' ','')

In [33]:
loan_data['term_int'].unique()

array(['36', '60'], dtype=object)

In [34]:
type(loan_data['term_int'][0])

str

In [35]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [36]:
type(loan_data['term_int'][0])

numpy.int64

In [37]:
loan_data['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13',
       'Jul-13', 'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13',
       'Jan-13', 'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12',
       'Jul-12', 'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12',
       'Jan-12', 'Dec-14', 'Nov-14', 'Oct-14', 'Sep-14', 'Aug-14',
       'Jul-14', 'Jun-14', 'May-14', 'Apr-14', 'Mar-14', 'Feb-14',
       'Jan-14'], dtype=object)

In [38]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')

In [39]:
type(loan_data['issue_d_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [40]:
loan_data['mths_since_issue_d'] = round((pd.to_datetime('2017-12-01') - loan_data['issue_d_date'])/np.timedelta64(1,"M"))

In [41]:
type(loan_data['mths_since_issue_d'][0])

numpy.float64

## Preprocessing few discrete variables



1.   grade
2. sub grade
Create dummy variables for the discrete
1 for yes
0 for no
eg., biological sex: Female or Male
M=1 and F=0

In [42]:
pd.get_dummies(loan_data['grade'])

        A  B  C  D  E  F  G
0       0  1  0  0  0  0  0
1       0  0  1  0  0  0  0
2       0  0  1  0  0  0  0
3       0  0  1  0  0  0  0
4       0  1  0  0  0  0  0
...    .. .. .. .. .. .. ..
466280  0  0  1  0  0  0  0
466281  0  0  0  1  0  0  0
466282  0  0  0  1  0  0  0
466283  1  0  0  0  0  0  0
466284  0  0  0  1  0  0  0

[466285 rows x 7 columns]

In [43]:
loan_data['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [44]:
pd.get_dummies(loan_data['grade'], prefix='grade', prefix_sep='-')

        grade-A  grade-B  grade-C  grade-D  grade-E  grade-F  grade-G
0             0        1        0        0        0        0        0
1             0        0        1        0        0        0        0
2             0        0        1        0        0        0        0
3             0        0        1        0        0        0        0
4             0        1        0        0        0        0        0
...         ...      ...      ...      ...      ...      ...      ...
466280        0        0        1        0        0        0        0
466281        0        0        0        1        0        0        0
466282        0        0        0        1        0        0        0
466283        1        0        0        0        0        0        0
466284        0        0        0        1        0        0        0

[466285 rows x 7 columns]

In [45]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix="grade", prefix_sep = '-'),
                     pd.get_dummies(loan_data['sub_grade'], prefix="sub_grade", prefix_sep = '-'),
                     pd.get_dummies(loan_data['home_ownership'], prefix="home_ownership", prefix_sep = '-'),
                     pd.get_dummies(loan_data['verification_status'], prefix="verification_status", prefix_sep = '-'),
                     pd.get_dummies(loan_data['loan_status'], prefix="loan_status", prefix_sep = '-'),
                     pd.get_dummies(loan_data['purpose'], prefix="purpose", prefix_sep = '-'),
                     pd.get_dummies(loan_data['addr_state'], prefix="addr_state", prefix_sep = '-'),
                     pd.get_dummies(loan_data['initial_list_status'], prefix="initial_list_status", prefix_sep = '-')]

In [46]:
loan_data_dummies

[        grade-A  grade-B  grade-C  grade-D  grade-E  grade-F  grade-G
 0             0        1        0        0        0        0        0
 1             0        0        1        0        0        0        0
 2             0        0        1        0        0        0        0
 3             0        0        1        0        0        0        0
 4             0        1        0        0        0        0        0
 ...         ...      ...      ...      ...      ...      ...      ...
 466280        0        0        1        0        0        0        0
 466281        0        0        0        1        0        0        0
 466282        0        0        0        1        0        0        0
 466283        1        0        0        0        0        0        0
 466284        0        0        0        1        0        0        0

 [466285 rows x 7 columns],
         sub_grade-A1  sub_grade-A2  sub_grade-A3  sub_grade-A4  sub_grade-A5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             1             0
 466284             0             0             0             0             0

         sub_grade-B1  sub_grade-B2  sub_grade-B3  sub_grade-B4  sub_grade-B5  \
 0                  0             1             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             1
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         ...  sub_grade-F1  sub_grade-F2  sub_grade-F3  sub_grade-F4  \
 0       ...             0             0             0             0
 1       ...             0             0             0             0
 2       ...             0             0             0             0
 3       ...             0             0             0             0
 4       ...             0             0             0             0
 ...     ...           ...           ...           ...           ...
 466280  ...             0             0             0             0
 466281  ...             0             0             0             0
 466282  ...             0             0             0             0
 466283  ...             0             0             0             0
 466284  ...             0             0             0             0

         sub_grade-F5  sub_grade-G1  sub_grade-G2  sub_grade-G3  sub_grade-G4  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade-G5
 0                  0
 1                  0
 2                  0
 3                  0
 4                  0
 ...              ...
 466280             0
 466281             0
 466282             0
 466283             0
 466284             0

 [466285 rows x 35 columns],
         home_ownership-ANY  home_ownership-MORTGAGE  home_ownership-NONE  \
 0                        0                        0                    0
 1                        0                        0                    0
 2                        0                        0                    0
 3                        0                        0                    0
 4                        0                        0                    0
 ...                    ...                      ...                  ...
 466280                   0                        1                    0
 466281                   0                        1                    0
 466282                   0                        1                    0
 466283                   0                        0                    0
 466284                   0                        1                    0

         home_ownership-OTHER  home_ownership-OWN  home_ownership-RENT
 0                          0                   0                    1
 1                          0                   0                    1
 2                          0                   0                    1
 3                          0                   0                    1
 4                          0                   0                    1
 ...                      ...                 ...                  ...
 466280                     0                   0                    0
 466281                     0                   0                    0
 466282                     0                   0                    0
 466283                     0                   1                    0
 466284                     0                   0                    0

 [466285 rows x 6 columns],
         verification_status-Not Verified  verification_status-Source Verified  \
 0                                      0                                    0
 1                                      0                                    1
 2                                      1                                    0
 3                                      0                                    1
 4                                      0                                    1
 ...                                  ...                                  ...
 466280                                 0                                    1
 466281                                 0                                    0
 466282                                 0                                    0
 466283                                 0                                    0
 466284                                 0                                    0

         verification_status-Verified
 0                                  1
 1                                  0
 2                                  0
 3                                  0
 4                                  0
 ...                              ...
 466280                             0
 466281                             1
 466282                             1
 466283                             1
 466284                             1

 [466285 rows x 3 columns],
         loan_status-Charged Off  loan_status-Current  loan_status-Default  \
 0                             0                    0                    0
 1                             1                    0                    0
 2                             0                    0                    0
 3                             0                    0                    0
 4                             0                    1                    0
 ...                         ...                  ...                  ...
 466280                        0                    1                    0
 466281                        1                    0                    0
 466282                        0                    1                    0
 466283                        0                    0                    0
 466284                        0                    1                    0

         loan_status-Does not meet the credit policy. Status:Charged Off  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status-Does not meet the credit policy. Status:Fully Paid  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status-Fully Paid  loan_status-In Grace Period  \
 0                            1                            0
 1                            0                            0
 2                            1                            0
 3                            1                            0
 4                            0                            0
 ...                        ...                          ...
 466280                       0                            0
 466281                       0                            0
 466282                       0                            0
 466283                       1                            0
 466284                       0                            0

         loan_status-Late (16-30 days)  loan_status-Late (31-120 days)
 0                                   0                               0
 1                                   0                               0
 2                                   0                               0
 3                                   0                               0
 4                                   0                               0
 ...                               ...                             ...
 466280                              0                               0
 466281                              0                               0
 466282                              0                               0
 466283                              0                               0
 466284                              0                               0

 [466285 rows x 9 columns],
         purpose-car  purpose-credit_card  purpose-debt_consolidation  \
 0                 0                    1                           0
 1                 1                    0                           0
 2                 0                    0                           0
 3                 0                    0                           0
 4                 0                    0                           0
 ...             ...                  ...                         ...
 466280            0                    0                           1
 466281            0                    0                           1
 466282            0                    0                           1
 466283            0                    1                           0
 466284            0                    0                           0

         purpose-educational  purpose-home_improvement  purpose-house  \
 0                         0                         0              0
 1                         0                         0              0
 2                         0                         0              0
 3                         0                         0              0
 4                         0                         0              0
 ...                     ...                       ...            ...
 466280                    0                         0              0
 466281                    0                         0              0
 466282                    0                         0              0
 466283                    0                         0              0
 466284                    0                         0              0

         purpose-major_purchase  purpose-medical  purpose-moving  \
 0                            0                0               0
 1                            0                0               0
 2                            0                0               0
 3                            0                0               0
 4                            0                0               0
 ...                        ...              ...             ...
 466280                       0                0               0
 466281                       0                0               0
 466282                       0                0               0
 466283                       0                0               0
 466284                       0                0               0

         purpose-other  purpose-renewable_energy  purpose-small_business  \
 0                   0                         0                       0
 1                   0                         0                       0
 2                   0                         0                       1
 3                   1                         0                       0
 4                   1                         0                       0
 ...               ...                       ...                     ...
 466280              0                         0                       0
 466281              0                         0                       0
 466282              0                         0                       0
 466283              0                         0                       0
 466284              1                         0                       0

         purpose-vacation  purpose-wedding
 0                      0                0
 1                      0                0
 2                      0                0
 3                      0                0
 4                      0                0
 ...                  ...              ...
 466280                 0                0
 466281                 0                0
 466282                 0                0
 466283                 0                0
 466284                 0                0

 [466285 rows x 14 columns],
         addr_state-AK  addr_state-AL  addr_state-AR  addr_state-AZ  \
 0                   0              0              0              1
 1                   0              0              0              0
 2                   0              0              0              0
 3                   0              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              0              0              0              0
 466284              0              0              0              0

         addr_state-CA  addr_state-CO  addr_state-CT  addr_state-DC  \
 0                   0              0              0              0
 1                   0              0              0              0
 2                   0              0              0              0
 3                   1              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              1              0              0              0
 466284              1              0              0              0

         addr_state-DE  addr_state-FL  ...  addr_state-SD  addr_state-TN  \
 0                   0              0  ...              0              0
 1                   0              0  ...              0              0
 2                   0              0  ...              0              0
 3                   0              0  ...              0              0
 4                   0              0  ...              0              0
 ...               ...            ...  ...            ...            ...
 466280              0              0  ...              0              0
 466281              0              0  ...              0              1
 466282              0              0  ...              0              0
 466283              0              0  ...              0              0
 466284              0              0  ...              0              0

         addr_state-TX  addr_state-UT  addr_state-VA  addr_state-VT  \
 0                   0              0              0              0
 1                   0              0              0              0
 2                   0              0              0              0
 3                   0              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              1              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              0              0              0              0
 466284              0              0              0              0

         addr_state-WA  addr_state-WI  addr_state-WV  addr_state-WY
 0                   0              0              0              0
 1                   0              0              0              0
 2                   0              0              0              0
 3                   0              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              0              0              0              0

In [47]:
loan_data_dummies = pd.concat(loan_data_dummies, axis=1)

In [48]:
loan_data_dummies

,grade-A,grade-B,grade-C,grade-D,grade-E,grade-F,grade-G,sub_grade-A1,sub_grade-A2,sub_grade-A3,...,addr_state-TX,addr_state-UT,addr_state-VA,addr_state-VT,addr_state-WA,addr_state-WI,addr_state-WV,addr_state-WY,initial_list_status-f,initial_list_status-w
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
466281,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
466282,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
466283,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
466284,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [49]:
  type(loan_data_dummies)

pandas.core.frame.DataFrame

In [50]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis=1)

In [51]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line', 'term_int', 'issue_d_date',
       'mths_since_issue_d', 'grade-A', 'grade-B', 'grade-C', 'grade-D',
       'grade-E', 'grade-F', 'grade-G', 'sub_grade-A1', 'sub_grade-A2',
       'sub_grade-A3', 'sub_grade-A4', 'sub_grade-A5', 'sub_grade-B1',
       'sub_grade-B2', 'sub_grade-B3', 'sub_grade-B4', 'sub_grade-B5',
       'sub_grade-C1', 'sub_grade-C2', 'sub_grade-C3', 'sub_grade-C4',
       'sub_grade-C5', 'sub_grade-D1', 'sub_grade-D2', 'sub_grade-D3',
       'sub_grade-D4', 'sub_grade-D5', 'sub_grade-E1', 'sub_grade-E2',
       'sub_grade-E3', 'sub_grade-E4', 'sub_grade-E5', 'sub_grade-F1',
       'sub_grade-F2', 'sub_grade-F3', 'sub_grade-F4', 'sub_grade-F5',
       'sub_grade-G1', 'sub_grade-G2', 'sub_grade-G3', 'sub_grade-G4',
       'sub_grade-G5', 'home_ownership-ANY', 'home_ownership-MORTGAGE',
       'home_ownership-NONE', 'home_ownership-OTHER',
       'home_ownership-OWN', 'home_ownership-RENT',
       'verification_status-Not Verified',
       'verification_status-Source Verified',
       'verification_status-Verified', 'loan_status-Charged Off',
       'loan_status-Current', 'loan_status-Default',
       'loan_status-Does not meet the credit policy. Status:Charged Off',
       'loan_status-Does not meet the credit policy. Status:Fully Paid',
       'loan_status-Fully Paid', 'loan_status-In Grace Period',
       'loan_status-Late (16-30 days)', 'loan_status-Late (31-120 days)',
       'purpose-car', 'purpose-credit_card', 'purpose-debt_consolidation',
       'purpose-educational', 'purpose-home_improvement', 'purpose-house',
       'purpose-major_purchase', 'purpose-medical', 'purpose-moving',
       'purpose-other', 'purpose-renewable_energy',
       'purpose-small_business', 'purpose-vacation', 'purpose-wedding',
       'addr_state-AK', 'addr_state-AL', 'addr_state-AR', 'addr_state-AZ',
       'addr_state-CA', 'addr_state-CO', 'addr_state-CT', 'addr_state-DC',
       'addr_state-DE', 'addr_state-FL', 'addr_state-GA', 'addr_state-HI',
       'addr_state-IA', 'addr_state-ID', 'addr_state-IL', 'addr_state-IN',
       'addr_state-KS', 'addr_state-KY', 'addr_state-LA', 'addr_state-MA',
       'addr_state-MD', 'addr_state-ME', 'addr_state-MI', 'addr_state-MN',
       'addr_state-MO', 'addr_state-MS', 'addr_state-MT', 'addr_state-NC',
       'addr_state-NE', 'addr_state-NH', 'addr_state-NJ', 'addr_state-NM',
       'addr_state-NV', 'addr_state-NY', 'addr_state-OH', 'addr_state-OK',
       'addr_state-OR', 'addr_state-PA', 'addr_state-RI', 'addr_state-SC',
       'addr_state-SD', 'addr_state-TN', 'addr_state-TX', 'addr_state-UT',
       'addr_state-VA', 'addr_state-VT', 'addr_state-WA', 'addr_state-WI',
       'addr_state-WV', 'addr_state-WY', 'initial_list_status-f',
       'initial_list_status-w'], dtype=object)

In [52]:
loan_data.isna().sum()

Unnamed: 0               0
id                       0
member_id                0
loan_amnt                0
funded_amnt              0
                        ..
addr_state-WI            0
addr_state-WV            0
addr_state-WY            0
initial_list_status-f    0
initial_list_status-w    0
Length: 207, dtype: int64

In [53]:
pd.options.display.max_rows=100

In [54]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

In [55]:
loan_data['total_rev_hi_lim'].isna().sum()

0

## Homework 2:

In this homework, your task is to fill in the missing values for the remaining variables we are going to use in our models.

Here are the instructions about what values to replace the missing values with for the remaining variables.

1. For annual income (‘annual_inc’), replace the missing values with the mean of the non-missing values of the variable.

2. For all of the following variables, replace the missing values with zeroes:

‘mths_since_earliest_cr_line’

‘acc_now_delinq’

‘total_acc’

‘pub_rec’

‘open_acc’

‘inq_last_6mths’

‘delinq_2yrs’

‘emp_length_int’

In [56]:
loan_data['annual_inc'].isnull().sum()

4

In [57]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [58]:
loan_data['annual_inc'].isnull().sum()

0

In [59]:
loan_data['mths_since_earliest_cr_line'].isna().sum()

29

In [60]:
loan_data['mths_since_earliest_cr_line'].mean()

242.38537412923372

In [61]:
loan_data['mths_since_earliest_cr_line'].fillna(0, inplace=True)

In [62]:
loan_data['mths_since_earliest_cr_line'].isna().sum()

0

In [63]:
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)

In [64]:
from IPython import display

# Display the DataFrame
display.display(loan_data)

# Adjust the output height to 300px.
display.Javascript("google.colab.output.setIframeHeight('300px');")

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,addr_state-TX,addr_state-UT,addr_state-VA,addr_state-VT,addr_state-WA,addr_state-WI,addr_state-WV,addr_state-WY,initial_list_status-f,initial_list_status-w
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,0,0,0,0,0,0,0,0,1,0
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,0,0,0,0,0,0,0,0,1,0
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,0,0,0,0,0,0,0,0,1,0
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,0,0,0,0,0,0,0,0,1,0
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,...,1,0,0,0,0,0,0,0,0,1
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,...,0,0,0,0,0,0,0,0,1,0
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,...,0,0,0,0,0,0,0,0,1,0
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,...,0,0,0,0,0,0,0,0,0,1
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,...,0,0,0,0,0,0,0,0,1,0

In [65]:
loan_data.isna().sum()

Unnamed: 0               0
id                       0
member_id                0
loan_amnt                0
funded_amnt              0
                        ..
addr_state-WI            0
addr_state-WV            0
addr_state-WY            0
initial_list_status-f    0
initial_list_status-w    0
Length: 207, dtype: int64

In [66]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [67]:
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [68]:
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [69]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off','Default','Late (31-120 days)','Does not meet the credit policy. Status:Charged Off']),0,1)

In [70]:
loan_data['good_bad'].unique()

array([1, 0])